.letter-container{
  margin: 0 20%;
  display: flex;
  justify-content: space-around;
}

body{
  text-align: center;
}

.text-box{
  padding: 5px 10%;
  border-radius: 4px;
  background-color: lightgrey;
  border: none;
}

.btn{
  border-radius: 4px;
  background-color: white;
  color: lightgrey;
  padding: 5px 10px;
  border: solid 1px lightgrey;
}
